div {
    border: 1px solid black;
    padding: 25px 25px;
    background-color: rgb(63, 177, 69);
}
body {
    background: whitesmoke;
}
p {
    text-align: center;
    color: rgb(177, 57, 113);
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111;
  }